:root{
    --countdown-size: 5em;
}
@media screen and (max-width:480px){
    :root {
        --countdown-size: 3em;
    }
}

body{
    font-family: monospace;
}

h1 {
    color: white;
    padding: 5px;
    background: linear-gradient(to right, blue, rgb(202, 204, 234));
}

#clock {
    font-size: 3em;

    transition: 1s;
}

#countDown {
    font-size: var(--countdown-size);
    font-weight: 100;
}